# Food Recommendation System
This dataset represents the data related to food recommender system. Two datasets are included in this dataset file. First includes the dataset related to the foods, ingredients, cuisines involved. Second, includes the dataset of the rating system for the recommendation system.

Kaggle Link: https://www.kaggle.com/datasets/schemersays/food-recommendation-system

# Importing Libraries

In [1]:
# EDA
import pandas as pd
import numpy as np

# Data Preprocessing 
from sklearn import preprocessing

# Data visualisation
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# Recommender System Imps
# Content Based Filtering 
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
# Collaborative Based Filtering 
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

# To work with text data 
import re
import string

# Importing Data

In [2]:
df = pd.read_csv('data.csv')
df.head()

,Food_ID,Name,C_Type,Veg_Non,Describe
0,1,summer squash salad,Healthy Food,veg,"white balsamic vinegar, lemon juice, lemon rin..."
1,2,chicken minced salad,Healthy Food,non-veg,"olive oil, chicken mince, garlic (minced), oni..."
2,3,sweet chilli almonds,Snack,veg,"almonds whole, egg white, curry leaves, salt, ..."
3,4,tricolour salad,Healthy Food,veg,"vinegar, honey/sugar, soy sauce, salt, garlic ..."
4,5,christmas cake,Dessert,veg,"christmas dry fruits (pre-soaked), orange zest..."

In [3]:
list(df['Name'].unique())

['summer squash salad',
 'chicken minced salad',
 'sweet chilli almonds',
 'tricolour salad',
 'christmas cake',
 'japanese curry arancini with barley salsa',
 'chocolate nero cookies',
 'lamb and chargrilled bell pepper soup',
 'cream of almond soup',
 'broccoli and almond soup',
 'coconut lime quinoa salad',
 'lemon honey glazed sous vide corn on the cob',
 'watermelon and strawberry smoothie',
 'peach, raspberry and nuts smoothie',
 'almond and cranberry poha',
 'almond and raw banana galawat',
 'baked namakpara with roasted almond dip',
 'grilled almond barfi',
 'baked shankarpali ',
 'baked multigrain murukku',
 'apple rabdi',
 'baked namak para',
 'dates and nuts ladoo',
 'green lentil dessert fudge',
 'cashew nut cookies',
 'almond pearls',
 'hawaiin papaya salad',
 'vegetable som tam salad',
 'spinach and feta crepes',
 'couscous with ratatouille - tangy tomato sauce',
 'baked almond kofta',
 'almond and amaranth ladoo',
 'moong dal kiwi coconut soup',
 'mixed berry & banana smoothie',
 'banana walnut smoothie',
 'spicy watermelon soup',
 'red rice poha',
 'mixed salad with lotus root',
 'sweet potato and quinoa bowl',
 'corn and raw mango salad',
 'khichdi',
 'sugar free modak',
 'beetroot modak',
 'andhra pan fried pomfret',
 'ghee roast chicken dosa quesadilla',
 'steam bunny chicken bao',
 'meat lovers pizza',
 'almond and chicken momos (without shell)',
 'christmas tree pizza',
 'french pork chop',
 'christmas chocolate fudge cookies',
 'chicken parmigiana with tomato sauce',
 'chocolate appe',
 'sous-vide salmon tikka',
 'filo pizza',
 'chocolate samosa',
 'fish with jamun sauce',
 'dahi lasooni chicken',
 'pesto fish kebabs',
 'caramelized sesame smoked almonds',
 'crunchy vegetable dal sattu croquettes',
 'active charcoal modak',
 'flax seed and beetroot modak',
 'chocolate prunes gujiyas',
 'almond  white chocolate gujiya',
 'betel nut popsicle',
 'clotted cottage cheese croquettes',
 'gajar tart',
 'banana and maple ice lollies',
 'shepherds salad (tamatar-kheera salaad)',
 'carrot ginger soup',
 'dark night',
 'hot chocolate',
 'slow cooked spiced sangria',
 'detox haldi tea',
 'holi special ice tea thandai',
 'grilled lemon margarita',
 'spanish artichoke and spinach dip',
 'beetroot and green apple soup',
 'baba budan no. 7',
 'fruit infused tea',
 'soya milk',
 'spiced coffee',
 'filter coffee',
 'garlic and pinenut soup with burnt butter essence',
 'roast turkey with cranberry sauce',
 'roasted spring chicken with root veggies',
 'peri peri chicken satay',
 'chicken popcorn',
 'half roast chicken',
 'chicken biryani',
 'chicken farcha',
 'buldak (hot and spicy chicken)',
 'chicken sukka',
 'steamed chicken roulade',
 'methi chicken masala',
 'restaurant style fried chicken',
 'chicken potli',
 'spicy chicken masala',
 'spicy chicken curry',
 'crispy herb chicken',
 'dahi chicken',
 'amritsari chicken masala',
 'chilli chicken',
 'chicken tenders',
 'chicken nimbu dhaniya shorba',
 'garlic soya chicken',
 'cauliflower and chicken biryani',
 'chicken quinoa biryani',
 'chicken and mushroom lasagna',
 'plum and cherry roasted chicken',
 'chicken roulade',
 'sticky rum chicken wings',
 'chicken dragon',
 'chicken palwal',
 'pan seared thigh of chicken',
 'chicken in mahalak sauce',
 'grilled kasundi honey chicken with sweet potato mash',
 'chicken dong style',
 'microwave tandoori chicken',
 'methi malai cranberry chicken',
 'southern fried chicken tenders',
 'thai style chicken tikka',
 'chicken gilafi kebab',
 'cheese chicken kebabs',
 'andhra crab meat masala',
 'cajun spiced turkey wrapped with bacon',
 'thai lamb balls',
 'oyster lamb',
 'chicken shami kebab',
 'balti meat',
 'coffee marinated mutton chops',
 'sali boti (parsi meat dish)',
 'braised lamb shanks',
 'bengali lamb curry',
 'malabari fish curry',
 'japanese fish stew',
 'malabar fish curry',
 'surmai curry with lobster butter rice',
 'seared salmon in tabasco butter',
 'risotto lobster with parmesan egg pancake, confit tomatoes and coral tuille',
 'fish skewers with coriander and red wine vinegar dressing',
 'seafood rock filler',
 'shrimp & cilantro ceviche',
 'saewoo bokumbop (shrimp fried rice)',
 'thai prawn curry & baked rice ',
 'bihari fish curry',
 'curry fish fingers',
 'prawn and litchi salad',
 'kerala fish curry',
 'fish andlouse',
 'prawn fried rice',
 'damdama fish curry',
 'fish with white sauce',
 'chilli fish',
 'fish ambultiyal',
 'chettinad fish fry',
 'fish moilee',
 'batter fish',
 'fish salan',
 'spanish fish fry',
 'prawn potato soup',
 'red rice vermicelli kheer',
 'green cucumber shots',
 'thai pineapple rice',
 'green asparagus risotto',
 'veg fried rice',
 'egg and garlic fried rice',
 'curd rice',
 'fried rice with soya chunks',
 'corn pulao',
 'zucchini methi pulao',
 'lemon rice',
 'kale channe ki biryani',
 'chicken paella',
 'thai fish curry',
 'vegetable pulao',
 'oats shallots pulao',
 'shiitake fried rice with water chestnuts',
 'lotus leaf wrapped fried rice',
 'vegetable biryani',
 'avial with red rice',
 'rice in lamb stock',
 'vegetable bruschetta',
 'red wine braised mushroom flatbread',
 'strawberry & pistachio breton tart',
 'tricolour pizza',
 'instant rava dosa',
 'easy bread poha',
 'bread chana basket',
 'spaghetti with clams & crispy bread crumbs',
 'kasha bread',
 'egg paratha',
 'egg and cheddar cheese sandwich',
 'egg in a blanket',
 'bread dahi vada',
 'cheese and avocado parantha',
 'bread with tomatoes and olives',
 'lemon poppy seed cake',
 'chocolate kaju katli',
 'mix fruit laccha rabri tortilla crunch',
 'pista chocolate & mandarin',
 'banana and chia tea cake',
 'chocolate and almond rum ball ',
 'lemon sushi cake',
 'chocolate doughnut',
 'spiced almond banana jaggery cake',
 'fennel scented sweet banana fritters',
 'camel milk cake tart',
 'quinoa coconut crumble custard',
 'lamb barley pot',
 'al hachi chicken',
 'berry parfait hazelnut white chocolate sable',
 'badam papite ke kebab with pineapple salsa',
 'mixed vegetable soup',
 'duo of chocolate and strawberry',
 'mustard-parmesan whole roasted cauliflower',
 'hassel back sweet potatoes',
 'mother christmas cake',
 'matcha tea macarons',
 'amaranthus granola with lemon yogurt, berries and marigold',
 'chocolate fudge cookies',
 'veg summer rolls',
 'eggless vanilla cake',
 'sweet potato pie',
 'wok tossed asparagus in mild garlic sauce',
 'cinnamon oatmeal pancakes',
 'chocolate chip cheesecake',
 'chocolate lava cake',
 'eggless coffee cupcakes',
 'chicken in white wine',
 'apple and walnut cake',
 'gluten free almond cake',
 'cinnamon star cookies',
 'whole wheat cake',
 'plum cake',
 'double chocolate easter cookies',
 'holi special malai kofta',
 'homemade gulab jamun',
 'lamb rogan josh',
 'fish curry',
 'rice kheer',
 'assorted rice kheer sushi',
 'jalebi with fennel yogurt pudding',
 'broccoli souffle',
 'christmas dry fruit cake',
 'microwave chicken steak',
 'cheese and ham roll',
 'vegetable manchurian',
 'jerk chicken',
 'lemon poppy seed cake ',
 'steam bunny chicken bao ',
 'double chocolate easter cookies ',
 'orange quinoa sevaiyan',
 'spicy creamy kadai chicken',
 'apple kheer',
 'ragi oats ladoo (laddu)',
 'lamb korma',
 'ragi coconut ladoo (laddu)',
 'quick chicken curry',
 'chicken shaami kebab',
 'chicken masala',
 'holi special bhang pakode',
 'kuttu atta pizza',
 'arbi kofta with mint yogurt dip',
 'puffed rice squares',
 'red velvet banana pudding',
 'baked wild berry cheesecake',
 'spiced orange valencia cake',
 'jalapeno cheese fingers',
 'californian breakfast benedict',
 'chocolate marquise',
 'corn & jalapeno poppers',
 'banana phirni tartlets with fresh strawberries',
 'mexican pizza',
 'apple and pear cake',
 'microwave chocolate cake',
 'white chocolate and lemon pastry',
 'mixed beans salad',
 'baked raw banana samosa',
 'coconut mango oatmeal with cinnamon hint',
 'fruit cube salad',
 'veg hakka noodles',
 'strawberry quinoa pancakes',
 'spinach & banana pancakes',
 'french onion grilled cheese',
 'pasta in cheese sauce',
 'deviled scotch egg',
 'amritsari fish',
 'butter chicken',
 'chicken razala',
 'chicken tikka',
 'chicken tikka masala',
 'mushroom matar',
 'tandoori chicken',
 'tandoori fish tikka',
 'chettinadu chicken',
 'chicken 65',
 'kolim / jawla',
 'black rice',
 'brown rice',
 'koldil chicken',
 'red rice',
 'rice',
 'sunga pork',
 'banana chips',
 'bhurji- egg',
 'flattened rice / poha',
 'puffed rice',
 'Miso-Butter Roast Chicken With Acorn Squash Panzanella',
 'Honeydew Salad with Ginger Dressing and Peanuts',
 'Kimchi and Miso Noodle Soup',
 'Spicy Korean Steak',
 'French Spiced Bread',
 'Quinoa Bowl and Berries',
 'Shawarma-Spiced Braised Leg of Lamb',
 'Roast Pork Tenderloin with Carrot Romesco',
 'Ricotta Gnocchi with Asparagus, Peas, and Morels',
 'Crispy Pakora',
 'Lamb Tikka',
 'Grilled Sweet Prawn',
 'Pho Tai rare beef',
 'Summer Rolls',
 'Spice Chicken Baugette',
 'Bean Curd Rolls',
 'Pho Chay Soup',
 'Pho Ga Chicken',
 'Chicken Sweet Corn Soup',
 'Thai Spareribs',
 'Frenched Green Beans',
 'Lemony Crab Salad with Baby Greens',
 'Mushroom Manchruian',
 'Biryani',
 'Tandoori Chicken',
 'Shrimp Olivier',
 'Potato Casserole',
 'Thyme-Roasted Sweet Potatoes',
 'Noodle Curry',
 'Grill Lemon grass Pork baguette',
 'Sukuti Chatpate',
 'Cheese Naan',
 'Mushroom Rice',
 'Bringle Alo',
 'Mutar Paneer',
 'Cucumber and Radish Salad',
 'Channa Masala',
 'Saag Alo ',
 'Alo Tama Bodi',
 'Tarka Daal',
 'Jeera Alu',
 'Nepali Chicken Curry',
 'Lamb Shashlik',
 'Hyakula',
 'Alo Achar',
 'Chicken Momo',
 'Black-Bean Burgers',
 'Parmesan Toasts',
 'Rice with Soy-Glazed Bonito Flakes and Sesame Seeds',
 'Shirazi Salad',
 'Sesame Noodles with Chili Oil and Scallions',
 'Thai Green Curry ',
 'Ground Pork Menudo',
 'Bao Bun ',
 'Garlic Naan',
 'Egg Curry with Tomatoes and Cilantro',
 'Kimchi Bokumbab',
 'Korean fried Chicken',
 'Prawn kastu Curry',
 'Beef Bibimbab',
 'Sweet and Sour Chicken Fried Rice',
 'Sea Food Soup',
 'Pad Thai',
 'Spicy Kimchi Tofu Stew',
 'Slow-Roasted Pork ',
 'Pico de Gallo Verde',
 'Pineapple-Coconut Rice',
 'Lamb and Green Squash Dumplings',
 'Crispy Tofu Balls',
 'Grilled Chicken with Almond and Garlic Sauce',
 'Parmesan Cauliflower and Parsley Salad',
 'Vietnamese Chicken Salad',
 'Eggplant and Beef Stir-Fry',
 'Stir-Fried Lettuces With Crispy Shallots',
 'Chicken and Dumplings',
 'Asian Salmon Bowl with Lime Drizzle',
 'Pasta with Garlic-Scape Pesto',
 'Pico de Gallo',
 'Basmati Rice with Summer Vegetable Salad',
 'Fresh Corn Tortillas',
 'Quinoa Tabbouleh',
 'Grilled Clams With Herb Butter',
 'Rajas Poblanas',
 'Braised Beef Short Ribs',
 'Fig and Sesame Tart with Cardamom Orange Cream',
 'Rouille',
 'Kimchi Toast',
 'Tacos de Gobernador (Shrimp, Poblano, and Cheese Tacos)',
 'Melted Broccoli Pasta With Capers and Anchovies',
 'Lemon-Ginger Cake with Pistachios',
 'Rosemary Roasted Vegetables']

In [4]:
df['C_Type'].unique() # Categorical Data

array(['Healthy Food', 'Snack', 'Dessert', 'Japanese', 'Indian', 'French',
       'Mexican', 'Italian', 'Chinese', 'Beverage', 'Thai', 'Korean',
       ' Korean', 'Vietnames', 'Nepalese', 'Spanish'], dtype=object)

In [5]:
df['Veg_Non'].unique() # Categorical Data

array(['veg', 'non-veg'], dtype=object)

In [6]:
len(df) 
# Hmm... Small Dataset!

400

In [7]:
# Let's see if that worked...
df.head()

,Food_ID,Name,C_Type,Veg_Non,Describe
0,1,summer squash salad,Healthy Food,veg,"white balsamic vinegar, lemon juice, lemon rin..."
1,2,chicken minced salad,Healthy Food,non-veg,"olive oil, chicken mince, garlic (minced), oni..."
2,3,sweet chilli almonds,Snack,veg,"almonds whole, egg white, curry leaves, salt, ..."
3,4,tricolour salad,Healthy Food,veg,"vinegar, honey/sugar, soy sauce, salt, garlic ..."
4,5,christmas cake,Dessert,veg,"christmas dry fruits (pre-soaked), orange zest..."

In [8]:
df.shape

(400, 5)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Food_ID   400 non-null    int64
 1   Name      400 non-null    object
 2   C_Type    400 non-null    object
 3   Veg_Non   400 non-null    object
 4   Describe  400 non-null    object
dtypes: int64(1), object(4)
memory usage: 15.8+ KB

In [10]:
# Let's make a function to remove all the punctuation from the "Describe" column
def text_cleaning(text):
    text  = "".join([char for char in text if char not in string.punctuation])    
    return text

In [11]:
# Let's clean the text 
df['Describe'] = df['Describe'].apply(text_cleaning)

In [12]:
# Let's see if that worked...
df.head()

,Food_ID,Name,C_Type,Veg_Non,Describe
0,1,summer squash salad,Healthy Food,veg,white balsamic vinegar lemon juice lemon rind ...
1,2,chicken minced salad,Healthy Food,non-veg,olive oil chicken mince garlic minced onion sa...
2,3,sweet chilli almonds,Snack,veg,almonds whole egg white curry leaves salt suga...
3,4,tricolour salad,Healthy Food,veg,vinegar honeysugar soy sauce salt garlic clove...
4,5,christmas cake,Dessert,veg,christmas dry fruits presoaked orange zest lem...

In [13]:
# Are there any duplicate data ?
df.duplicated().sum()
# None :)

0

In [14]:
# Are there any null values?
df.isnull().sum()
# None :))

Food_ID     0
Name        0
C_Type      0
Veg_Non     0
Describe    0
dtype: int64

In [15]:
# General Description 
df.describe()

          Food_ID
count  400.000000
mean   200.500000
std    115.614301
min      1.000000
25%    100.750000
50%    200.500000
75%    300.250000
max    400.000000

# Content Based Filtering

In [16]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['Describe'])
tfidf_matrix.shape

(400, 1261)

In [17]:
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim

array([[1.        , 0.16228366, 0.13001124, ..., 0.1286286 , 0.04277223,
        0.09993639],
       [0.16228366, 1.        , 0.06799336, ..., 0.14878001, 0.05688681,
        0.16917639],
       [0.13001124, 0.06799336, 1.        , ..., 0.03291577, 0.11795401,
        0.01834168],
       ...,
       [0.1286286 , 0.14878001, 0.03291577, ..., 1.        , 0.        ,
        0.10087579],
       [0.04277223, 0.05688681, 0.11795401, ..., 0.        , 1.        ,
        0.        ],
       [0.09993639, 0.16917639, 0.01834168, ..., 0.10087579, 0.        ,
        1.        ]])

In [18]:
indices = pd.Series(df.index, index=df['Name']).drop_duplicates()
indices

Name
summer squash salad                                          0
chicken minced salad                                         1
sweet chilli almonds                                         2
tricolour salad                                              3
christmas cake                                               4
                                                          ...
Kimchi Toast                                               395
Tacos de Gobernador (Shrimp, Poblano, and Cheese Tacos)    396
Melted Broccoli Pasta With Capers and Anchovies            397
Lemon-Ginger Cake with Pistachios                          398
Rosemary Roasted Vegetables                                399
Length: 400, dtype: int64

In [19]:
def get_recommendations(title, cosine_sim=cosine_sim):
    
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 5 most similar food
    sim_scores = sim_scores[1:6]
    
    food_indices = [i[0] for i in sim_scores]
    return df['Name'].iloc[food_indices]

In [20]:
features = ['C_Type','Veg_Non', 'Describe']

In [21]:
def create_soup(x):
    return x['C_Type'] + " " + x['Veg_Non'] + " " + x['Describe']

In [22]:
df['soup'] = df.apply(create_soup, axis=1)

In [23]:
df.head()

,Food_ID,Name,C_Type,Veg_Non,Describe,soup
0,1,summer squash salad,Healthy Food,veg,white balsamic vinegar lemon juice lemon rind ...,Healthy Food veg white balsamic vinegar lemon ...
1,2,chicken minced salad,Healthy Food,non-veg,olive oil chicken mince garlic minced onion sa...,Healthy Food non-veg olive oil chicken mince g...
2,3,sweet chilli almonds,Snack,veg,almonds whole egg white curry leaves salt suga...,Snack veg almonds whole egg white curry leaves...
3,4,tricolour salad,Healthy Food,veg,vinegar honeysugar soy sauce salt garlic clove...,Healthy Food veg vinegar honeysugar soy sauce ...
4,5,christmas cake,Dessert,veg,christmas dry fruits presoaked orange zest lem...,Dessert veg christmas dry fruits presoaked ora...

In [24]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df['soup'])

In [25]:
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [26]:
df = df.reset_index()
indices = pd.Series(df.index, index=df['Name'])

In [27]:
display(indices)

Name
summer squash salad                                          0
chicken minced salad                                         1
sweet chilli almonds                                         2
tricolour salad                                              3
christmas cake                                               4
                                                          ...
Kimchi Toast                                               395
Tacos de Gobernador (Shrimp, Poblano, and Cheese Tacos)    396
Melted Broccoli Pasta With Capers and Anchovies            397
Lemon-Ginger Cake with Pistachios                          398
Rosemary Roasted Vegetables                                399
Length: 400, dtype: int64

In [28]:
get_recommendations('tricolour salad')

103             chilli chicken
1         chicken minced salad
27     vegetable som tam salad
282          veg hakka noodles
166             veg fried rice
Name: Name, dtype: object

In [29]:
get_recommendations('tricolour salad', cosine_sim2)

1                         chicken minced salad
103                             chilli chicken
27                     vegetable som tam salad
177                        oats shallots pulao
69     shepherds salad (tamatar-kheera salaad)
Name: Name, dtype: object

# Collaborative Filtering

In [30]:
rating = pd.read_csv('ratings.csv')
rating.head()

   User_ID  Food_ID  Rating
0      1.0     88.0     4.0
1      1.0     46.0     3.0
2      1.0     24.0     5.0
3      1.0     25.0     4.0
4      2.0     49.0     1.0

In [31]:
rating.shape

(512, 3)

In [32]:
rating.isnull().sum()

User_ID    1
Food_ID    1
Rating     1
dtype: int64

In [33]:
rating.tail()

     User_ID  Food_ID  Rating
507     99.0     22.0     1.0
508    100.0     24.0    10.0
509    100.0    233.0    10.0
510    100.0     29.0     7.0
511      NaN      NaN     NaN

In [34]:
rating = rating[:511]
rating.tail()

     User_ID  Food_ID  Rating
506     99.0     65.0     7.0
507     99.0     22.0     1.0
508    100.0     24.0    10.0
509    100.0    233.0    10.0
510    100.0     29.0     7.0

In [35]:
rating.isnull().sum()

User_ID    0
Food_ID    0
Rating     0
dtype: int64

In [36]:
food_rating = rating.groupby(by = 'Food_ID').count()
food_rating = food_rating['Rating'].reset_index().rename(columns={'Rating':'Rating_count'})
food_rating

     Food_ID  Rating_count
0        1.0             2
1        2.0             3
2        3.0             2
3        4.0             2
4        5.0             6
..       ...           ...
304    305.0             1
305    306.0             1
306    307.0             1
307    308.0             1
308    309.0             1

[309 rows x 2 columns]

In [37]:
food_rating['Rating_count'].describe()

count    309.000000
mean       1.653722
std        1.107748
min        1.000000
25%        1.000000
50%        1.000000
75%        2.000000
max        7.000000
Name: Rating_count, dtype: float64

In [38]:
user_rating = rating.groupby(by='User_ID').count()
user_rating = user_rating['Rating'].reset_index().rename(columns={'Rating':'Rating_count'})
user_rating

    User_ID  Rating_count
0       1.0             4
1       2.0             4
2       3.0             9
3       4.0             6
4       5.0             6
..      ...           ...
95     96.0             6
96     97.0             7
97     98.0             7
98     99.0             6
99    100.0             3

[100 rows x 2 columns]

In [39]:
user_rating["Rating_count"].describe()

count    100.000000
mean       5.110000
std        2.352282
min        1.000000
25%        3.000000
50%        5.000000
75%        7.000000
max       11.000000
Name: Rating_count, dtype: float64

In [40]:
rating_matrix = rating.pivot_table(index='Food_ID',columns='User_ID',values='Rating').fillna(0)
rating_matrix.head()

User_ID,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,100.0
Food_ID,,,,,,,,,,,,,,,,,,,,,
1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,7.0,0.0,0.0

In [41]:
rating_matrix.shape

(309, 100)

In [42]:
csr_rating_matrix =  csr_matrix(rating_matrix.values)
print(csr_rating_matrix)

  (0, 48)	5.0
  (0, 70)	10.0
  (1, 8)	3.0
  (1, 21)	5.0
  (1, 38)	10.0
  (2, 76)	1.0
  (2, 88)	7.0
  (3, 40)	6.0
  (3, 89)	6.0
  (4, 27)	10.0
  (4, 38)	10.0
  (4, 72)	7.0
  (4, 87)	3.0
  (4, 93)	2.0
  (4, 97)	7.0
  (5, 42)	10.0
  (5, 48)	6.0
  (5, 76)	6.0
  (5, 91)	1.0
  (6, 16)	4.0
  (6, 47)	5.0
  (6, 62)	9.0
  (6, 69)	8.0
  (6, 70)	8.0
  (7, 4)	6.0
  :	:
  (284, 30)	9.0
  (285, 80)	6.0
  (286, 24)	3.0
  (287, 54)	3.0
  (288, 55)	9.0
  (289, 31)	7.0
  (290, 15)	1.0
  (291, 2)	8.0
  (292, 95)	5.0
  (293, 41)	4.0
  (294, 43)	10.0
  (295, 41)	10.0
  (296, 94)	5.0
  (297, 55)	4.0
  (298, 2)	1.0
  (299, 28)	9.0
  (300, 53)	1.0
  (301, 77)	5.0
  (302, 63)	6.0
  (303, 29)	1.0
  (304, 55)	9.0
  (305, 79)	8.0
  (306, 70)	1.0
  (307, 96)	3.0
  (308, 31)	5.0

In [43]:
recommender = NearestNeighbors(metric='cosine')
recommender.fit(csr_rating_matrix)

NearestNeighbors(metric='cosine')

In [44]:
def Get_Recommendations(title):
    user= df[df['Name']==title]
    user_index = np.where(rating_matrix.index==int(user['Food_ID']))[0][0]
    user_ratings = rating_matrix.iloc[user_index]

    reshaped = user_ratings.values.reshape(1,-1)
    distances, indices = recommender.kneighbors(reshaped,n_neighbors=16)
    
    nearest_neighbors_indices = rating_matrix.iloc[indices[0]].index[1:]
    
    nearest_neighbors = pd.DataFrame({'Food_ID': nearest_neighbors_indices})
    
    result = pd.merge(nearest_neighbors,df,on='Food_ID',how='left')
    
    return result.head()

In [45]:
Get_Recommendations('tricolour salad')

,Food_ID,index,Name,C_Type,Veg_Non,Describe,soup
0,126.0,125,andhra crab meat masala,Indian,non-veg,processed crab meat refined oil curry leaves g...,Indian non-veg processed crab meat refined oil...
1,75.0,74,detox haldi tea,Beverage,veg,haldi ginger black pepper honey water,Beverage veg haldi ginger black pepper honey w...
2,100.0,99,spicy chicken curry,Indian,non-veg,oil ghee onion paste garlic paste ginger paste...,Indian non-veg oil ghee onion paste garlic pas...
3,259.0,258,ragi coconut ladoo (laddu),Dessert,veg,finger millet flour ragi jaggery peanuts cocon...,Dessert veg finger millet flour ragi jaggery p...
4,51.0,50,christmas chocolate fudge cookies,Dessert,veg,unsalted butter brown sugar chocolate chocolat...,Dessert veg unsalted butter brown sugar chocol...